<% if @friend_requesters.length > 0 %>
<h2>Pending friend requests</h2>
<ul>
<% @friend_requesters.each do |fr| %>
  <li><%= fr.full_name %> (<%= fr.username %>)
  <%= button_to "Add Friend", friendships_path, method: :post, params: {"friend_id" => fr.id} %>
  <% request = Request.find_by(sender_id:fr.id,reciever_id:@user_id) %>
  <%= button_to "Ignore", request_path(request), method: :delete, params: {"friend_id" => fr.id} %> 
  <%= button_to "Block", blocks_path, params:{user_id: fr.id},data:{confirm:"Block user?"} %> </li>
<% end %>
</ul>
<% end %>


<h2>Posts</h2>

<ul>
<% @posts.each do |post| %>
<li><b><%= link_to post.title, post_path(post) %></b>, by
<%= post.user.username %><br>
<%= post.short_content %> 
<i><%= post.num_comments %> comment<%= "s" if post.num_comments != 1 %></i>
</li>
<% end %>
</ul>

<%= button_to "Edit", edit_user_path(@user), method: :get%>