<% if @friend_requesters.length > 0 %>
<h2>Pending friend requests</h2>
<ul>
<% @friend_requesters.each do |fr| %>
  <li><%= fr.full_name %> (<%= fr.username %>)
  <%= button_to "Add Friend", friendships_path, method: :post, params: {"friend_id" => fr.id} %>
  <% request = Request.find_by(sender_id:fr.id,reciever_id:@user_id) %>
  <%= button_to "Ignore", request_path(request), method: :delete, params: {"friend_id" => fr.id} %> 
  <%= button_to "Block", blocks_path, params:{user_id: fr.id},data:{confirm:"Block user?"} %> </li>
<% end %>
</ul>
<% end %>


<h2>Your Feed</h2>

<ul>
<% @posts.slice(0,Post.max_feed_length).each do |post| %>

<% if post.authorized_to_view(@user) %>

<li><b><%= link_to post.title, post_path(post) %></b>, by
<%= post.user.username %><br>
<%= post.short_content %> 
<i><%= post.num_comments %> comment<%= "s" if post.num_comments != 1 %></i>
</li>

<% end %>

<% end %>
</ul>


<h2>Recent Posts</h2>

<ul>
<% @public_posts.slice(0,Post.max_feed_length).each do |post| %>

  <% if post.authorized_to_view(nil) %>

<li><b><%= link_to post.title, post_path(post) %></b>, by
<%= post.user&.username %><br>
<%= post.short_content %>
<i><%= post.num_comments %> comment<%= "s" if post.num_comments != 1 %></i>
</li>

  <% end %>

<% end %>
</ul>


<% if @user.is_admin  %>
<h2>Flagged Posts</h2>
<% @flagged_posts.slice(0,Post.max_feed_length).each do |post| %>
<li><%= link_to post.title, post_path(post)  %></li>
<% end %>
<h2>Flagged Comments</h2>

<% @flagged_comments.slice(0,Post.max_feed_length).each do |comment| %>
<li>This comment was found in... <%= link_to comment.post.title, post_path(comment.post)  %></li>
<% end %>
<% end %>