<% if flash[:errors] && (flash[:errors].length>0) %>
<ul>
<% flash[:errors].each do |msg| %>
  <li><%= msg %></li>
<% end %>
</ul>
<% end %>


<%= form_for @group do |f| %>

<input type="hidden" name="group[owner_id]" value="<%= @user.id %>">

<p>Name: <%= f.text_field :name %></p>

<p>Description: <%= f.text_field :description %></p>

<p><%= f.submit %></p>

<% end %>