<h2>Edit Group: <%= @group.name %> </h2>

<%= form_for @group do |f| %>

<input type="hidden" name="group[owner_id]" value="<%= @user.id %>">
 

<p>Description: <%= f.text_field :description %></p>

<p><%= f.submit %></p>

<% end %>

<%= button_to "Delete group", @group, method: :delete%>