<h2><%= @group.name %></h2>

<p>Description: <%= @group.description %></p>

<h3>Posts</h3>

<ul>

<% @posts.each do |post| %>
  <li><b><%= link_to post.title, post_path(post) %></b>, by
  <%= post.user.username %><br>
  <%= post.short_content %>
  </li>
<% end %>

</ul>