<h2><%= @group.name %></h2>

<p>Description: <%= @group.description %></p>

<h3>Recent Posts</h3>

<ul>

<% @posts.slice(0,Post.max_feed_length).each do |post| %>

  <% if post.authorized_to_view(@user) %>

  <li><b><%= link_to post.title, post_path(post) %></b>, by
  <%= post.user.username %><br>
  <%= post.short_content %>
  </li>
  
  <% end %>

<% end %>
</ul>

<% if @group.owner_id == @user_id %>
<p>
<%= form_tag edit_group_path(@group), method: :get do %>
  <%= image_submit_tag "/assets/edit.png", width:50 %>
  <% end %>
  <%= form_tag group_path(@group), method: :delete do %>
    <%= image_submit_tag "/assets/Nuke.png", width:50, data:{confirm: "Are you sure you want to delete this group?"} %>
    <% end %>
</p>
<% end %>

<% if @group.owner_id != @user_id %>
<%= button_to "Unsubscribe", subscription_path(@subscription), method: :delete %>
<% end %>