<%= render 'form' %>

<%= form_for @user do |t| %>
<p>Profile Pic URL: <%= t.text_field :avatar_url %>
<%= t.submit "Change profile Pic" %></p>
<% end %>

<%= form_tag user_path(@user), method: :delete do %>
  <%= image_submit_tag "/assets/Nuke.png", width:50, data:{confirm: "Are you sure you want to delete your account?"} %>
  <% end %>