<%= render 'form' %>

<%= form_for @user do |t| %>
<p>Profile Pic URL: <%= t.text_field :avatar_url %>
<%= t.submit "Change profile Pic" %></p>
<% end %>

<%= button_to "Delete profile", @user, method: :delete%>