<h2>Posts</h2>

<ul>
<% @posts.each do |post| %>
<li><%= link_to post.title, post_path(post) %>, by
<%= post.user.username %><br>
<%= post.content.slice(0,150) %><%= "..." if post.content.length > 150 %>
</li>
<% end %>
</ul>



<%# this is for adding a friend, I sorta shoved it here because I am not sure where else to put it so here seemed like an okay place %>
<% @users.each do |user|  %>
  <div class="user">
    <p>
      <strong><%=h user.username %></strong>
      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
      <div class="clear"></div>
    </p>
  </div>
<% end %>