<h2>Your Friends</h2>
<ul>
<% @friends.each do |friend| %>
  <li><a href="/users/<%= friend.username %>"><%= friend.full_name %> (<%= friend.username %>)</a>
  <%= button_to "Unfriend", friendships_path, method: :delete, params:{friend_id: friend.id},data:{confirm:"Are you sure you want to unfriend?"} %>
  <%= button_to "Block", blocks_path, params:{user_id: friend.id},data:{confirm:"Block user?"} %></li>
<% end %>
</ul>

<h2>Make Friends</h2>

<ul>
<% @not_yet_friends.each do |user|  %>
    <li>
      <b><%= user.username %></b>
      <% unless @user.has_blocked?(user) %>
        <%= button_to "Add Friend", requests_path, :method => :post, params:{friend_id: user.id},data:{confirm:"Send friend request?"} %>
        <%= button_to "Block", blocks_path, params:{user_id: user.id},data:{confirm:"Block user?"} %>
      <% else %>
        <%= button_to "Unblock", blocks_path, method: :delete, params:{user_id: user.id}, data:{confirm:"Unblock user?"} %>
      <% end %>
    </li>
<% end %>
</ul>