<% if flash[:errors] && (flash[:errors].length>0) %>
<ul>
<% flash[:errors].each do |msg| %>
  <li><%= msg %></li>
<% end %>
</ul>
<% end %>


<%= form_for @post do |f| %>

<input type="hidden" name="post[user_id]" value="<%= @user.id %>">

<p>Title: <%= f.text_field :title %></p>

<p><%= f.text_area :content, rows: 15, cols: 45 %></p>

<p>Groups: <%= f.collection_check_boxes :group_ids, Group.all, :id, :name %></p>

<p><%= f.submit %></p>

<% end %>