<% if !@logged_in %>
<%= button_to "Index", public_path, method: :get %>
<%= button_to "Login", new_session_path, method: :get %>
<% end %>


<% if @user&.is_admin && @post.is_flagged %>
<h1 class="alert"> This post has been flagged </h1>
<%= button_to 'un-flag', post_path(@post), method: :patch, params:{"post[is_flagged]" => false, unflag_button: true}%>
<%= button_to 'Hide this post', post_path(@post), method: :patch, params:{"post[is_hidden]" => true, hide_button: true} %>
<% end %>

<h2><%= @post.title %></h2>
<p>by <%= @post_user_name %></p>




<% if @post_user_name == @username %>
<p>
<%= form_tag edit_post_path(@post), method: :get do %>
  <%= image_submit_tag "/assets/edit.png", width:50 %>
  <% end %>
  <%= form_tag post_path(@post), method: :delete do %>
    <%= image_submit_tag "/assets/Nuke.png", width:50, data:{confirm: "Are you sure you want to delete this post?"} %>
    <% end %>
</p>
<% end %>

<% if @post.edited %><p><i>Edited</i></p><% end %>

<% if @post.image_url.to_s != ""  %>
<img src="<%= @post.image_url %>" class="post">
<% end %>

<% @post.break_content.each do |par| %>
  <p><%= par %></p>
<% end %>

<% if @logged_in %>
<% if @is_plus == true %>
<% pluss = Pluss.find_by(post_id:@post.id,user_id:@user_id) %>
<%= button_to 'Remove Plus', pluss_path(pluss), method: :delete, params:{post_id:@post.id} %>
<% elsif @is_plus == false %>
<% pluss = Pluss.find_by(post_id:@post.id,user_id:@user_id) %>
<%= button_to 'Remove Minus', pluss_path(pluss), method: :delete, params:{post_id:@post.id} %>
<% else %>

<%= form_tag plusses_path, method: :post do %>
  <input type="hidden" name="is_plus" value="true">
  <input type="hidden" name="post_id" value="<%= @post.id %>">
  <input type="image" src="/assets/Plus.png" width="30">
<% end %>

<%= form_tag plusses_path, method: :post do %>
  <input type="hidden" name="post_id" value="<%= @post.id %>">
  <input type="image" src="/assets/Minus.png" width="30">
<% end %>
<% end %>

<%= form_tag post_path(@post), method: :patch do %>
<input type="hidden" name="flag_button" value="true">
<input type="hidden" name="post[is_flagged]" value="true">
<input type="image" src="/assets/flag.png" width="30">
<% end %>

<% end %>

<% if @post.net_plusses >= 0 %>
<p><%= @post.net_plusses %> plus<%= "ses" if @post.net_plusses != 1 %></p>
<% else %>
<p><%= (-1)*@post.net_plusses %> minus<%= "ses" if @post.net_plusses != -1 %></p>
<% end %>

<h3>Comments</h3>

<% if @comments.length > 0 %>
<ul>
  <% @comments.each do |comment| %>
    <li class="comment">
    <img src="<%= comment.user&.avatar_url%>" class = "thumbnail" >
    <%= comment.user&.username %> says: &quot;<%= comment.content %>&quot;
    <%= "(edited)" if comment.edited %>  
  <% if comment.net_plusses >= 0 %>
  <p><%= comment.net_plusses %> plus<%= "ses" if comment.net_plusses != 1 %></p>
  <% else %>
  <p><%= (-1)*comment.net_plusses %> minus<%= "ses" if comment.net_plusses != -1 %></p>
  <% end %>
<% if @logged_in %>
<% pluss = Commentpluss.find_by(comment_id:comment.id,user_id:@user_id) %>
<% if pluss&.is_plus == true %>
<%= button_to 'Remove Plus', commentpluss_path(pluss), method: :delete, params:{comment_id:comment.id} %>
<% elsif pluss&.is_plus == false %>
<%= button_to 'Remove Minus', commentpluss_path(pluss), method: :delete, params:{comment_id:comment.id} %>
<% else %>

<%= form_tag commentplusses_path, method: :post do %>
  <input type="hidden" name="is_plus" value="true">
  <input type="hidden" name="comment_id" value="<%= comment.id %>">
  <input type="image" src="/assets/Plus.png" width="30">
<% end %>

<%= form_tag commentplusses_path, method: :post do %>
  <input type="hidden" name="comment_id" value="<%= comment.id %>">
  <input type="image" src="/assets/Minus.png" width="30">
<% end %>
<% end %>

<%= form_tag comment_path(comment), method: :patch do %>
  <input type="hidden" name="flag_button" value="true">
  <input type="hidden" name="comment[is_flagged]" value="true">
  <input type="image" src="/assets/flag.png" width="30">
  <% end %>

<% if @user&.is_admin && comment.is_flagged %>
<h1 class="alert"> This comment has been flagged </h1>
<%= button_to 'un-flag', comment_path(comment), method: :patch, params:{"comment[is_flagged]" => false, unflag_button: true}%>
<%= button_to 'Hide this comment', comment_path(comment), method: :patch, params:{"comment[is_hidden]" => true, hide: true} %>
<% end %>


<% end %>  
    <% if comment.user_id == @user_id %>
      <%= form_tag edit_comment_path(comment), method: :get do %>
      <%= image_submit_tag "/assets/edit.png", width:30 %>
      <% end %>
      <%= form_tag comment_path(comment), method: :delete do %>
        <%= image_submit_tag "/assets/Nuke.png", width:30, data:{confirm: "Are you sure you want to delete this comment?"} %>
        <% end %>
    <% end %>
    </li>
  <% end %>
</ul>
<% else %>
<p>No comments yet!</p>
<% end %>

<% if @logged_in %>
<%= render 'comments/form' %>
<% end %>
