<% if !@logged_in %>
<%= button_to "Login", new_session_path, method: :get %>
<% end %>


<h2>Posts</h2>

<ul>
<% @posts.each do |post| %>

  <% if post.authorized_to_view(nil) %>

<li><b><%= link_to post.title, post_path(post) %></b>, by
<%= post.user&.username %><br>
<%= post.short_content %>
<i><%= post.num_comments %> comment<%= "s" if post.num_comments != 1 %></i>
</li>

  <% end %>

<% end %>
</ul>
