<% if !@logged_in %>
<%= button_to "Login", new_session_path, method: :get %>
<% end %>


<h2>Recent Posts</h2>

<ul>
<% @posts.slice((@recents_page_number-1)*Post.max_feed_length, Post.max_feed_length).each do |post| %>

  <% if post.authorized_to_view(nil) %>

<li><b><%= link_to post.title, post_path(post) %></b>, by
<%= post.user&.username %><br>
<%= post.short_content %>
<i><%= post.num_comments %> comment<%= "s" if post.num_comments != 1 %></i>
</li>

  <% end %>

<% end %>
</ul>


<%= form_for public_path, method: :get  do %>
  Page
    <input type="text" value="<%= @recents_page_number %>" class="paging" name="recents_page">
  of <%= @recents_number_of_pages %>
  <input type="submit" value="Go">
  <% end %>  
