<!DOCTYPE html>
<html>
  <head>
    <title>Nucleus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="titlebar">
    
    <h1 id="nucleus"><img src="/assets/Nucleus2.png" width="75" height="75" id="logo">Nucleus</h1></div>




    <% if @logged_in %>
    <div id="sidebar">
    <a href="<%= launchpad_path %>" class="sidebarlink">Launchpad</a><br>
    <a href="<%= groups_path %>" class="sidebarlink">Groups</a><br>
    <a href="<%= friendships_path %>" class="sidebarlink">Friends</a><br>
    <a href="<%= new_post_path %>" class="sidebarlink">New Post</a><br>
    
    <p id="account"><br>
    <%= @username %><br>
        <%= form_tag edit_user_path(@user), method: :get do %>
          <%= image_submit_tag "/assets/Gear.png", width:50, class:"gear"%>
          <% end %><br>
    <%= form_tag sessions_path, method: :delete do %>
    <input type="image" src="/assets/logout.png" height="40" class="logout">
    <% end %>
    </p>

    </div>
    <% end %>


    <div id="content">
    <% if flash[:errors] && (flash[:errors].length>0) %>
      <ul>
        <% flash[:errors].each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <% if flash[:notices] && (flash[:notices].length>0) %>
    <ul>
      <% flash[:notices].each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
    <%= yield %>
    <br>
    <br>
    <br>
    <span id="horzspacer"> </span>
    </div>
    
    
  </body>
</html>
