<!DOCTYPE html>
<html>
  <head>
    <title>Nucleus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="titlebar"><h1>Nucleus</h1></div>

    <div id="sidebar">
    <a href="launchpad" class="sidebarlink">Launchpad</a><br>
    <a href="mygroups" class="sidebarlink">Groups</a><br>
    <a href="myfriends" class="sidebarlink">Friends</a><br>
    </div>


    <div id="content">
    <%= yield %>
    </div>
  </body>
</html>
