<!DOCTYPE html>
<html>
  <head>
    <title>Nucleus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="titlebar"><h1>Nucleus</h1></div>

    <% if @logged_in %>
    <div id="sidebar">
    <a href="<%= launchpad_path %>" class="sidebarlink">Launchpad</a><br>
    <a href="<%= groups_path %>" class="sidebarlink">Groups</a><br>
    <a href="NOTYET" class="sidebarlink">Friends</a><br>
    <a href="<%= new_post_path %>" class="sidebarlink">New Post</a><br>
    <br>
    <%= button_to "Logout", logout_path, method: :delete %><br>
    </div>
    <% end %>


    <div id="content">
    <%= yield %>
    </div>
  </body>
</html>
